[Container]
Image=docker.io/grafana/grafana:latest
ContainerName=podflow-grafana
PublishPort=3000:3000
# Automatic login for your demo (Industry shortcut for dev environments)
Environment=GF_AUTH_ANONYMOUS_ENABLED=true
Environment=GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
Network=podflow-net

[Service]
Restart=always

[Install]
WantedBy=default.target